* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Popup section */
body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.login-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1099;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.login-popup.show {
    visibility: visible;
    opacity: 1;
}

.popup-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-popup .box {
    background-color: #ffffff;
    width: 750px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    margin-left: 50px;
    transition: all 1s ease;

}

.login-popup.show .box {
    opacity: 1;
    margin-left: 0;
}

.login-popup .box .img-area {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-popup .box .img-area h1 {
    font-size: 30px;
}

.login-popup .box .img-area .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/popup-img3.webp');
    background-size: cover;
    background-position: center;
    animation: zoomInOut 7s linear infinite;
    z-index: -1;
}
#popup-close-button{
    position:absolute;
}

.popup-logo {
    z-index: 2;
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.login-popup .box .form {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 40px 30px;
}

.login-popup .box .form h1 {
    color: #000000;
    font-size: 30px;
    margin: 0 0 30px;
}

.login-popup .box .form .form-control {
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
    color: #000000;
}
#error-message{
    height: 30px;
}

.login-popup .box .form .form-control:focus {
    outline: none;
}

.login-popup .box .form label {
    font-size: 15px;
    color: #555555;
}

.login-popup .box .form .btn {
    width: 100%;
    background-color: orange;
    margin-top: 25px;
    height: 45px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.login-popup .box .form .btn:focus {
    outline: none;
}

.login-popup .box .form .popup-close {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 30px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

/*responsive*/
@media(max-width: 767px) {
    .login-popup .box {
        width: calc(100% - 30px);
    }

    .login-popup .box .img-area {
        display: none;
    }

    .login-popup .box .form {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* #hero Section */
.hero-content {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.header-logo {
    width: 100px;
}

/* navbar */
nav {
    position: fixed;
    z-index: 100;
    background-color: black;
    width: 100%;
}

.logo {
    width: 100px;
    display: inline;
}

#logo-img {
    width: 100px;
}

.menus {
    display: inline;
    right: 0;
    position: absolute;
    transition: all ease-in-out .4s;
}

.menus>ul>li {
    float: left;
    margin: 0px 10px;
    padding: 23px 19px;
}

.hamburger {
    display: none;
    margin: 0px 10px;
    padding: 23px 19px;
}

.close {
    display: none;
    margin: 0px 10px;
    padding: 23px 19px;
}

.menus>ul>li>a {
    text-decoration: none;
    color: white;
}

.menus>ul {
    list-style-type: none;
}

#navbar-contact {
    padding: 16px 19px;
}

/* swiper slider section */

swiper-container {
    width: 100%;
    height: 600px;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    border: 5px solid white;
}

swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-slide::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black;
    opacity: .3;
}

swiper-slide:nth-child(1) {
    background: url('/img/services-help-bg.jpg') center center/cover;

}

.swiper-heading {
    font-family: urbanist, sans-serif;
    font-size: 3.5rem;
}

.slider-lottie {
    width: 400px;
}




/* about section */

.about-heading {
    font-family: urbanist, sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 3rem;
}


/* services section */
.services-container-content {
    padding: 40px 10px;
    box-shadow: 0px 0px 10px rgb(171, 171, 171);
    margin: 1rem;
    transition: all ease 0.2s;
    border-radius: 10px;
    min-height: 250px;
}

.services-container-content:hover {
    background: orange;
    color: white;
}

.know-more-button {
    background-color: rgb(75, 159, 213);
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    transition: all ease 0.1s;
}

.know-more-button:hover {
    background-color: white;
    color: orange;
}

/* different sector we serve */

.different-sector-lottie {
    width: 70%;
    margin: auto;
}

/* process-section */
.process-item {
    background-color: orange;
    color: white;
    margin: 30px 0px;
    border-radius: 200px;
    box-shadow: 10px 10px 10px grey;
}

.process-icon {
    width: 150px;
    height: 150px;
}

svg {
    width: 40% !important;
}

lord-icon {
    width: 30px;
}

/* testimonial section */
.box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: #fff;
    color: #000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
    height: 21rem;
}

.box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: #0a69ed;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-area span {
    color: #262626;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 400;
}

.box-area .content {
    color: #262626;
}

.box-area .img-area {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.socials {
    margin-top: 30px;
}

.socials i {
    margin: 0 10px;
    color: #0a69ed;
    font-size: 18px;
}

#testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

#testimonial_area .owl-prev,
#testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0a69ed;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
}

#testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
}

#testimonial_area .owl-next {
    right: -60px;
    top: -30px;
}

/* blog-section */
.blog-img {
    border-radius: 6px;
}

.blog-content {
    margin-top: -50px !important;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 20px grey;
    padding: 25px !important;
}

.read-more-button {
    background-color: orange;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: large;
}

.read-more-button:hover {
    background: rgb(243, 159, 1);
}


/* address-section */

.address-content {
    padding: 25px 20px;
    background-color: rgb(255, 242, 231);
    border-radius: 5px;
    height: 100%;
}


/* footer-section */
#footer-section {
    color: white;
    position: static;
    /* background: black; */
    background: url('/img/nasa-Q1p7bh3SHj8-unsplash.jpg') center center/cover;

}

#footer-section::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    background: black center center/cover;
    opacity: .4;
    z-index: -1;
}


.footer-logo {
    width: 150px;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
}




@media screen and (max-width:1200px) {
    .contact-details {
        display: block;
    }
}

@media screen and (max-width:1000px) {
    .menus {
        display: hidden;
        background-color: black;
        display: hidden;
        margin-right: -100%;
    }

    .menus>ul>li {
        float: unset;
        margin: 0px 10px;
        padding: 10px 19px;
    }

    .hamburger {
        display: inline;
        right: 0;
        position: absolute;
    }

    .navigation-bar {
        position: static !important;
    }

    .logo {
        display: block;
    }

    #hero-heading {
        margin-top: 9rem !important;
    }

    .slider-lottie {
        width: 20rem;
    }


}

@media only screen and (max-width: 991px) {
    .owl-nav {
        display: none;
    }

    #hero-heading {
        margin-top: 6rem !important;
    }
}

@media screen and (max-width:767px) {
    .swiper-left {
        margin-top: 4rem;
    }

    swiper-container {
        width: 100%;
        height: 600px;
    }

    .process-item {
        border-radius: 0px;
    }

    .process-icon {
        width: 236px;
        height: 64px;
    }

    .box-area {
        text-align: center;
    }

    .owl-nav {
        display: none;
    }

    #hero-heading {
        margin-top: 9rem !important;
    }
}

@media screen and (max-width:653px) {
    .about-heading {
        font-size: 2.2rem;
    }

    .swiper-heading {
        font-size: 2.5rem;
    }

    swiper-slide {
        font-size: 13px;
    }

    .footer-section-container>a>p {
        margin: 3px 0px;
    }

    .footer-section-container>p {
        margin: 0px;
    }

    .footer-sections-heading {
        margin-top: 1.2rem !important;
    }
}

